* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 14px;
}

.bill,
.tip {
  display: flex;
  gap: 8px;
}

.bill input::-webkit-outer-spin-button,
.bill input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bill input[type="number"] {
  -moz-appearance: textfield;
}

button {
  width: 80px;
  border: none;
  background-color: rgb(222, 63, 63);
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  filter: brightness(105%);
}

button:active {
  transform: scale(0.95);
}
